<footer class="bg-dark text-white pt-5 pb-4 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Aide & Services</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white-50">Contactez-nous</a></li>
          <li><a href="#" class="text-white-50">FAQ</a></li>
          <li><a href="#" class="text-white-50">Retours et remboursements</a></li>
        </ul>
      </div>

      <div class="col-md-4">
        <h5>emiShop</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white-50">Qui sommes-nous ?</a></li>
          <li><a href="#" class="text-white-50">Conditions générales de vente</a></li>
        </ul>
      </div>

      <div class="col-md-4 text-end">
        <p>&copy; 2025 emiShop - Tous droits réservés.</p>
        <p>Suivez-nous : 📘 📸 🐦</p>
      </div>
    </div>
  </div>
</footer>
