<div class="container mt-5 p-5 border shadow-sm">
  <h2>👤 Connexion / Inscription emiShop</h2>
  <hr>

  <div class="row">
    <div class="col-md-6 mx-auto">
      <form>
        <div class="mb-3">
          <label for="inputEmail" class="form-label">Adresse email</label>
          <input type="email" class="form-control" id="inputEmail" placeholder="votre.email@example.com">
        </div>
        <div class="mb-3">
          <label for="inputPassword" class="form-label">Mot de passe</label>
          <input type="password" class="form-control" id="inputPassword" placeholder="********">
        </div>
        <button type="submit" class="btn btn-primary w-100 mb-2">Se connecter</button>
        <button type="button" class="btn btn-outline-secondary w-100">Créer un compte</button>
      </form>
    </div>
  </div>
</div>
