<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
    **Les pépites emiShop**
  </a>
  <a href="#" class="list-group-item list-group-item-action">Livres, BD, Papeterie</a>
  <a href="#" class="list-group-item list-group-item-action">Musique, CD, Vinyles</a>
  <a href="#" class="list-group-item list-group-item-action">Informatique, Tablettes</a>
  <a href="#" class="list-group-item list-group-item-action">Smartphones & Objets connectés</a>
  <a href="#" class="list-group-item list-group-item-action">Photo, Caméras, Drones</a>
  <a href="#" class="list-group-item list-group-item-action">Électroménager, Cuisine</a>
</div>
